.grid-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-template-rows: repeat(
    6,
    200px
  ); /* 6 is a maximum number of lines created automatically in desktop view. grid-auto-flow will be enabled when the window is resized and more then 6 rows are created */
  grid-gap: 1rem;

  grid-auto-flow: dense;

  & * {
    list-style: none;
  }

  & li:nth-child(4n) {
    grid-column: span 2;
    grid-row: span 2;
  }

  & li:nth-child(8n) {
    grid-column: span 3;
    grid-row: span 3;
  }

  & li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & li figure {
    height: 100%;
  }
}
