extends template-index.pug

block header
  header(class='header heading')
    div(class='test heading heading_size_h1') hkj 

  

block main 
  main(class='main') Main content stuff

  
  


block footer
  footer(class='footer') &copy; 2019
