.img-svg {
  box-sizing: border-box;
  width: 100%;

  &_bg {
    background-image: url('./../../img/logo.svg');
    // fix the bug with collapsing SVG container (change % value if you need)
    padding-bottom: 23%;
  }
}
