@font-face {
  @include font-face__regular;
}
@font-face {
  @include font-face__italic;
}
@font-face {
  @include font-face__bold;
}

.test {
  border: $tt;
  font-size: $font-size_h1;
}

.page {
  height: 100%;
  scroll-behavior: smooth;
  background-attachment: fixed;

  &__body {
    height: 100%;
    background-attachment: fixed;

    // Modifiers:

    &_bg {
      &_solid {
        background-color: red;
      }

      &_gradient {
        background: linear-gradient($color_white, lighten($color_gray, 20%));
        background-repeat: no-repeat;
        // make background fixed; this property is not mandatory:
        background-attachment: fixed;
      }

      &_img {
        //background-image: url('./../../img/animals_landscape_xxxl.jpg');
        // make background image responsive:
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        // make background fixed; this property is not mandatoy:
        background-attachment: fixed;
      }
    }
  }

  // Fix Chrome transition bug (see readme file)
  &__preload * {
    transition: none !important;
  }
}
