extends template-index.pug

block meta
  meta(name='description', content='')
  title Error 404
  
block header

block main 
  h1 Oops!
  h1 - 404 Page Not Found
  p Sorry, an error has occured, Requested page not found!

block footer
