doctype html
html(lang='en' class='page text text_size_root text_color_black')

  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1,  viewport-fit=cover, shrink-to-fit=no')
    
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    
    link(rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png")
    link(rel="manifest" href="./site.webmanifest")
    link(rel="mask-icon" href="./safari-pinned-tab.svg" color="#aa4400")
    meta(name="msapplication-TileColor" content="#603cba")
    meta(name="theme-color" content="#ffffff")

    block meta
      meta(name='description' content='Description of the page less than 150 characters')
      //- Displayed in Google search results:
      meta(name='keywords' content='web development, web applications, frontend')
      meta(name='author' content='Andrey Ponomarev')
      title Home
      
    block head
  
  body(class='page__body page__preload text text_line-height_lg text_font-stack_sans-serif') 
  
    noscript Your browser doesn't support JavaScript or you have disabled JavaScript.

    block header
      p header

    block main
      p main 

    block footer
      p footer
