.fullscreen-bg {
  height: 100%;

  &_color_black {
    background-color: $color_black;
    /* instead of background-color you can apply gradient:
    background: linear-gradient($color_primary-lightest, $color_primary-lighten)
      no-repeat; 
    */
  }

  &_color_white {
    background-color: $color_white;
  }

  &_media_img {
    background-image: url('./../../img/fullscreen-image.jpg');
    // make background image responsive:
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
}
